body{
	margin: 0;
	padding: 0;
}
.header_nav{
	font-family: consolas;
}
.what{
	position: relative;
	display: inline-flex;
	padding: 10px 5px;
    margin: 0 0 30px 5px;
	color:#03e9f4;
	text-decoration: none;
	letter-spacing: 2px;
	text-transform: uppercase;
	overflow: hidden;
	transition: 0.2s;
	-webkit-box-reflect:below 1px linear-gradient(transparent,#0005);

}
// .what:nth-child(1)
// {
// 	filter:hue-rotate(290deg);
// }
// .what:nth-child(3)
// {
// 	filter:hue-rotate(110deg);
// }
.what:hover{
    transition-duration: 2s;
    background: #4dff4d;
    color:#050801;
    border-radius: 5px;
	box-shadow:0 0 5px #4dff4d,
	           0 0 25px #4dff4d,
	           0 0 50px #4dff4d,
	           0 0 200px #4dff4d;
}
.active-menu{
    transition-duration: 2s;
    background: #4dff4d;
    color:#050801;
    border-radius: 5px;
	box-shadow:0 0 5px #4dff4d,
	           0 0 25px #4dff4d,
	           0 0 50px #4dff4d,
	           0 0 200px #4dff4d;
    color: green;
}
.what span
{
	position: absolute;
	display:block;
}
.what span:nth-child(1)
{
	top:0;
	left:-100%;
	width:100%;
	height:2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    background :linear-gradient(90deg,transparent,green);
	animation:animate1 1s linear infinite;
}
@keyframes animate1
{
	0%
	{
		left:-100%;
	}
	50%,100%
	{
		left:100%;
	}
}
.what span:nth-child(2)
{
	top:-100;
	right:0%;
	width:2px;
	height:100%;
	background: linear-gradient(180deg,transparent,#03e9f4);
	animation:animate2 1s linear infinite;
	animation-delay: 0.25%;
}
@keyframes animate2
{
	0%
	{
		top:-100%;
	}
	50%,100%
	{
		top:100%;
	}
}
.what span:nth-child(3)
{
	bottom:0;
	right:-100%;
	width:100%;
	height:2px;
	background: linear-gradient(270deg,transparent,#03e9f4);
	animation:animate3 1s linear infinite;
	animation-delay: 0.5s
}
@keyframes animate3
{
	0%
	{
		right:-100%;
	}
	50%,100%
	{
		right:100%;
	}
}
.what span:nth-child(4)
{
	bottom:-100%;
	left:0;
	width:2px;
	height:100%;
	background: linear-gradient(360deg,transparent,#03e9f4);
	animation:animate4 1s linear infinite;
	animation-delay: 0.75s
}
@keyframes animate4
{
	0%
	{
		bottom:-100%;
	}
	50%,100%
	{
		bottom:100%;
    }
}